body {
  background-color: #fff;
}

.granBox {
  height: 100%;
  width: 100%;
  min-width: 1545px;

  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;


}

h1 {
  color: DodgerBlue;
  text-align: center;
}

h3 {
  visibility: visible;
}