.soccerCard {
    background-color: whitesmoke;

    padding: 15px;

    height: 450px;
    width: 250px;

    margin: 30px;
    border: DodgerBlue double 5px;
    border-radius: 10px;

    text-align: center;
}

.soccerCard>img {
    zoom:0.8;
    border-radius: 10px;
}